@use '../variables' as *;

.navbar-custom {
  background-color: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: 0;
  height: 90px;
  transition: all 0.3s ease;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .custom-toggler {
    border: none;
    padding: 0.5rem;
    width: 30px;
    height: 22px;
    position: relative;

    &:focus {
      box-shadow: none;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $dark;
      border-radius: 2px;
      transition: all 0.3s ease;
      left: 0;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 9px;
    }

    span:nth-child(3) {
      top: 18px;
    }

    &:not(.collapsed) {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
        top: 9px;
      }
    }
  }

  .brand-logo {
    display: flex;
    align-items: center;

    img {
      height: auto;
      width: 125px;
      max-width: none;
      margin-top: 1rem;
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0.5rem;

    &:focus {
      box-shadow: none;
    }
  }

  .nav-link {
    color: $dark;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border-radius: $border-radius;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: $primary;
      background-color: rgba($primary, 0.1);
    }

    &.active {
      color: $primary;
    }

    &-cta {
      color: $dark;
      background-color: $primary;
      margin-left: 0.5rem;
      border: 1px solid $primary;

      &:hover,
      &:focus {
        color: $dark;
        background-color: $white;
        border: 1px solid $primary-dark;
        transform: translateY(-2px);
      }

      &.active {
        color: $dark !important;
        background-color: #f5c02c1a;
      }
    }
  }
}

// Mobile responsiveness
@media (max-width: 991px) {
  .navbar-custom {
    .navbar-collapse {
      background-color: $white;
      padding: 1rem 0;
    }

    .brand-logo {
      height: 100%;
      width: auto;
    }

    .nav-link-cta {
      margin-left: 0;
      margin-top: 0.5rem;
      text-align: center;
    }

    .nav-link {
      text-align: center;
      margin: 0.25rem 0;
    }
  }
}
